$padding-achievments: 0.2rem;

.game-details{
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 5px;
    border: 3px solid #9B2226;  
    height: 90vh;
    width: 90vw;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    &__informations{
      background-color: rgba(42, 45, 46, 0.9);
      padding: 1rem 0;
    }
    &__name{
      width: 65%;
      margin: 0 auto;
      font-size: 1.3rem;
      font-weight: bold;
    }
    &__release-date{
      font-size: 14px;
      margin: 0.3rem 0;
    }
    &__close-mark{
      position: absolute;
      color: white;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      font-size: 1.4rem;
      background-color: red;
      cursor: pointer;
      border-radius: 50%;
      right: 0;
      top: 2%;
      transition: .3s;
      &:hover{
        background-color: black;
      }
    }
    &__container-description-ratings{
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-position: center;
      align-items: center;
      justify-content: center;    
    }
    &__box-description{
      margin: 1rem 0;
      width: 80%;
      color: white;
      background-color: rgba(0,0,0,0.6);
      text-align: left;
      font-size: 12px;
      padding: 1rem;
    }
    &__box-ratings{
      width: 20rem;
      margin-bottom: 1rem;
      color: black;
      font-weight: bold;
      z-index: 10;
    }
    &__links{
      margin: 1rem 0;
    }
    &__links-link{
      margin: 0 1rem;
    }
    &__genre{
      display: inline-block;
      font-size: 14px;
      padding: 5px;
      margin:0.3rem 1rem;
    }
    &__achievments{
      max-height: 18vh;
      overflow: auto;
      text-align: left;
      width: 80%;
      margin: 0 auto;
    }
    &__achievment-box{
      margin: 1rem auto;
    }
    &__descirption-image{
      width: 80%;
      display: flex;
      align-items: center;
    }
    &__achievment-heading{
      background-color: rgb(243, 243, 243);
      padding: $padding-achievments;
      color: rgb(32, 27, 27);
    }
    &__achievment-name{
      padding: $padding-achievments;
      background-color: rgb(31, 25, 25);
    }
    &__achievment-description{
      margin-left: 0.5rem;
      font-size: 13px;
      padding: 0.5rem;
      background-color: rgb(131, 55, 32);
      border-radius: 30px;
    }
    &__achievment-image{
      width: 60px;
    }
    &__links{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &__active{
      display: block;
    }
}

@media (min-width: 1200px){
  .game-details{
    height: 80vh;
    width: 80vw;
    &__container-description-ratings{
      flex-direction: row;
    }
    &__box-ratings{
      margin: 2rem 0;      
    }
    &__box-description{
      width: 50%;
      align-self: center;
    }
    &__achievments-links{
      display: flex;
      width: 75%;
      justify-content: space-between;
      margin: 0 auto;
    }
    &__achievment-image{
      width: 80px;
    }
    &__links{
      width: 30%;
    }
  }
}